@import '../../abstracts/breakpoints';
@import '../../abstracts/variables';

.container {
  margin-top: 10rem;
  &__heading {
    display: flex;
    align-items: baseline;
    font-size: $font-xl;
    font-weight: 600;
    color: $color-yellow-primary;

    @include xs {
      font-weight: 700;
    }
    @include sm {
      font-size: $font-2xl;
    }

    &::before {
      counter-increment: section 2;
      content: '0' counter(section) '.';
      position: relative;
      font-size: $font-sm;
      font-weight: 400;
      margin-right: 10px;
      @include sm {
        font-size: $font-base;
      }
    }
    &::before {
      color: $color-yellow-secondary;
    }
  }

  &__box {
    display: grid;
    margin-top: 2rem;
    color: $color-gray;
    grid-template-columns: 1fr;
    gap: 2rem;

    & > div {
      &:nth-child(1) {
        background-color: red;
      }
    }
  }
}
