@import '../abstracts/breakpoints';
@import '../abstracts/variables';

.container {
  padding: 1rem 0;
  background-color: $color-background;

  &__footer {
    max-width: 84rem;
    margin: 0 auto;
    user-select: none;
    padding: 0 1.8rem;

    @include md {
      padding: 0 3.8rem;
    }

    &-divider {
      height: 4px;
      background-color: rgba($color-yellow-secondary, 0.3);
      margin-bottom: 1.2rem;
      border-radius: 10px;
    }

    &-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $color-yellow-secondary;
      font-weight: 300;
      font-size: $font-sm;

      @include sm {
        font-size: $font-base;
      }

      p {
        a {
          color: $color-yellow-primary;
        }
      }
    }
  }
}
