@import '../abstracts/breakpoints';
@import '../abstracts/variables';
.container {
  // display: none;
  position: fixed;
  bottom: 0;
  color: $color-white;
  right: 0.9rem;

  @include md {
    right: 1.8rem;
    display: block;
  }

  div {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;

    a,
    a:active {
      text-decoration: none;
      letter-spacing: 1.2px;
      color: inherit;
      writing-mode: vertical-lr;
      font-weight: 200;
      margin-bottom: 1.2rem;
      transition: all 0.3s ease-out;
      font-size: $font-sm;

      &:hover {
        letter-spacing: 1.8px;
        color: $color-yellow-primary;
        transform: translateY(-6px);
      }
    }

    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 90px;
      background: $color-tertiary;
    }
  }
}
