@import '../abstracts/breakpoints';
@import '../abstracts/variables';

.container {
  color: $color-yellow-primary;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10000000;
  transition: all 0.3s ease-out;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.6rem;
    max-width: 94rem;
    margin-inline: auto;

    @include md {
      padding: 0.8rem 4rem;
    }

    &-left {
      font-size: $font-2xl;
    }

    &-right {
      display: flex;
      align-items: center;

      & > *:not(:first-child) {
        margin-left: 1.4rem;

        @include lg {
          margin-left: 2.4rem;
        }
      }
      ol {
        display: none;
        // list-style-type: decimal-leading-zero;
        list-style-type: none;
        @include md {
          display: flex;
        }
        li {
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 2rem;

            @include lg {
              margin-right: 2.4rem;
            }
          }

          &::marker {
            font-size: $font-xs;
            color: #dddddd;
          }
        }
      }
    }

    &-button {
      display: none;
      @include md {
        display: block;
      }
      font-size: $font-base;
      padding: 0.6rem 1rem;
      border: 1.8px solid $color-yellow-secondary;
      border-radius: 4px;
      cursor: pointer;
    }

    &-hamburger {
      cursor: pointer;
      display: block;
      @include md {
        display: none;
      }
      span {
        display: block;
        width: 1.8rem;
        height: 2px;
        background-color: $color-yellow-primary;
        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
        transition: all 0.3s ease-out;
      }

      &-active {
        span {
          &:nth-child(1) {
            transform: rotate(-135deg) translateY(-14px);
          }
          &:nth-child(2) {
            transform: translateX(40px);
            opacity: 0;
            visibility: hidden;
          }

          &:nth-child(3) {
            transform: rotate(135deg) translateY(14px);
          }
        }
      }
    }
  }

  &-visible {
    top: 0;
    transition: top 0.4s ease-out;
  }
  &-hidden {
    top: -84px;
    transition: top 0.5s ease-out;
  }
}
