@import 'abstracts/breakpoints';
@import 'abstracts/variables';

.container {
  background-color: $color-background;
  position: relative;

  &__main {
    max-width: 62.5rem;
    margin: 0 auto;
    padding: 0 1.2rem;
    overflow-x: hidden;

    @include sm {
      padding: 0 2.4rem;
    }
    @include md {
      padding: 0 5rem;
    }
  }
}
