@import '../abstracts/breakpoints';

.container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 1.6rem;

  @include md {
    display: block;
  }

  div {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      -webkit-box-align: center;

      li {
        margin-bottom: 1.1rem;

        a,
        a:active {
          span {
            transition: all 0.3s ease-out;
          }

          &:hover {
            span {
              transform: translateY(-7px);
            }
          }
        }
      }

      &::after {
        content: '';
        display: block;
        width: 1px;
        height: 90px;
        background: white;
      }
    }
  }
}
