// Small Mobile Phones
$screen-xs-min: 440px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Larger Screen desktops
$screen-2xl-min: 1500px;

// Font sizes
$font-4xl: 4.4rem;
$font-3xl: 3.4rem;
$font-2xl: 2.4rem;
$font-xl: 1.8rem;
$font-lg: 1.4rem;
$font-md: 1.2rem;
$font-base: 1rem;
$font-sm: 0.9rem;
$font-xs: 0.8rem;

// Colors
$color-primary: #24a19c;
$color-secondary: #139487;
$color-tertiary: #00c897;

$color-text: #297f87;

$color-background: #062c30;
$color-sidebar: #05595b;
$color-white:#ffffff;