@import '../../abstracts/breakpoints';
@import '../../abstracts/variables';

.container {
  position: relative;
  min-height: 18rem;
  width: 18rem;
  border-radius: 6px;
  overflow: hidden;
  background: rgba(16, 7, 32, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(16, 7, 32, 0.26);
  transition: all 0.3s ease-out;

  @include xs {
    width: 22rem;
  }

  @include md {
    width: 20rem;
  }

  @include lg {
    width: 24rem;
  }

  &:hover &__image {
    transform: scale(1.04);
  }

  &__image {
    position: relative;
    width: 100%;
    height: 12rem;
    transition: all 0.8s ease-out;

    span {
      border-radius: 6px 6px 0 0;
    }

    @include xs {
      height: 14rem;
    }

    @include md {
      height: 13rem;
    }

    @include lg {
      height: 15rem;
    }
  }

  &__text {
    padding: 1.8rem 1rem;

    & > *:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    h2 {
      color: $color-yellow-primary;
      font-size: $font-md;
      font-weight: 600;
      line-height: 1.6rem;
      letter-spacing: 1.3px;

      @include sm {
        font-size: $font-lg;
      }
    }

    p {
      font-size: $font-sm;
      line-height: 1.2rem;
      letter-spacing: 1.1px;
      color: rgba($color-yellow-secondary, 0.9);
      font-weight: 300;

      @include lg {
        font-size: $font-base;
      }
    }

    a {
      letter-spacing: 1.1px;
      font-size: $font-sm;
      // color: $color-yellow-primary;
      color: violet;
      font-weight: 300;
      transition: all 0.2s ease-out;
      text-decoration: underline;

      &:hover {
        letter-spacing: 1.3px;
      }
    }
  }
}
