@import '../abstracts/breakpoints';
@import '../abstracts/variables';

.container {
  &__heading {
    display: flex;
    align-items: baseline;
    font-size: $font-xl;
    font-weight: 600;

    color: $color-yellow-primary;
    @include xs {
      font-weight: 700;
    }

    @include sm {
      font-size: $font-2xl;
    }

    &::before {
      counter-increment: section 1;
      content: '0' counter(section) '.';
      position: relative;
      font-size: $font-base;

      margin-right: 10px;
      @include sm {
        font-size: $font-md;
      }
    }
    &::before,
    &::after {
      color: $color-yellow-secondary;
    }
    &::after {
      content: '';
      display: block;
      position: relative;
      height: 1px;
      background-color: $color-yellow-secondary;
      margin-left: 20px;
      width: 150px;

      @include md {
        width: 300px;
      }
    }
  }

  &__box {
    &-left {
    }
    &-right {
    }
  }
}
