@import '../abstracts/breakpoints';
@import '../abstracts/variables';

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  &__container {
    & > *:not(:last-child) {
      margin-bottom: 1.4rem;
    }

    &-1 {
      font-weight: 400;
      p {
        color: $color-yellow-secondary;
        font-size: $font-sm;
        margin-bottom: 0.4rem;
        @include md {
          font-size: $font-base;
        }
      }
      h1 {
        color: $color-yellow-primary;
        font-size: $font-2xl;
        margin-bottom: 0.4rem;
        font-weight: 800;
        @include sm {
          font-size: $font-3xl;
        }
        @include lg {
          font-size: $font-4xl;
        }
      }
      h2 {
        color: $color-gray;
        font-size: $font-2xl;
        @include lg {
          font-size: $font-3xl;
        }
      }
    }
    &-2 {
      p {
        color: $color-gray;
        max-width: 34rem;
        font-size: $font-sm;
        letter-spacing: 2px;

        @include md {
          max-width: 42rem;
          font-size: $font-base;
        }
      }
    }
    &-3 {
      margin-top: 2rem;
      display: none;
      a {
        text-decoration: none;
        font-size: $font-xl;
        color: $color-tertiary;
        border: 2px solid $color-tertiary;
        padding: 0.4rem 1.2rem;
        border-radius: 4px;

        @include md {
          display: none;
        }
      }
    }
  }
}
