@import 'abstracts/breakpoints'
;
.container {
  background-color: rgb(74, 6, 119);
  position: relative;

  &__main {
    max-width: 62.5rem;
    margin: 0 auto;
@include md{

  padding: 0 3rem;
}
  }
}
